--This is a sample css file
div[data-role='password-rule'].error {
    background: #ffc8c6!important;
    padding: 4px 4px 4px 8px;
    line-height: 12px;
}

div[data-role='password-rule'].success {
    background: #dff0bb!important;
    padding: 4px 4px 4px 8px;
    line-height: 12px;
}

#passwordRules div[data-role='password-rule'],
#passwordRulesMobile div[data-role='password-rule'],
.tooltipster-base div[data-role='password-rule'] {
    margin: 2px 0;
    width: 223px;
}

.tooltipster-base div[data-role='password-rule'].successCls i{
    color: #fff;
}


